body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.pageform {
    border: 3px solid #f1f1f1;
}

label {
    padding: 3px;
}

button {
    border: none;
}

nav {
    background-color: #0b2d39;
    color: #fff;
    width: 100%;
    height: 80px;
}

button:hover {
    opacity: 0.8;
}


a {
    color: #3366cc;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

.invoice-buttons {
    height: 30px;
    margin-bottom: 3%;
}

.end-task-button {
    height: 30px;
    margin-bottom: 3%;
}

.tasks {
    float:left;
    width: 33%;
    height: 100%;
    text-align: center;
}

.disbursements {
    float:left;
    width: 33%;
    height: 100%;
    text-align: center;
}

.fixed_fees {
    float:left;
    width: 33%;
    height: 100%;
    text-align: center;
}

.start-task {
    float: left; 
    padding: 10px;
    margin-left: 50px;
}

.add-disb {
    float: left;
}

#generateInvoiceModalOpen {
    margin-left: 20%;
}

#confirm-start {
    margin-left: 12%;
    margin-right: 15%
}

#confirm-end {
    margin-left: 12%
}

#addDisbursementModalOpen {
    margin-left: 8%;
}

.nav-logo {
    font-size: 40px;
    font-weight: bold;
    padding-left: 30px;
    line-height: 80px;
}

.nav-item {
    color: #fff;
    list-style: none;
}

.nav-item:hover {
    text-decoration: none;
    cursor: pointer;
}

.nav-link {
    font-size: 20px;
    line-height: 80px;
    float: right;
    margin-right: 60px;
    opacity: 0.8;
}

.page-header{
    font-size: 50px;
    line-height: 50px;
}

.tagline {
    margin-left: 30px;
    height: 10px;
}

.table-title {
    font-size: 20px;
}

.form-button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.option-button {
    color: white;
    padding: 14px 20px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.tab-button {
    color: #41c0cb;
    background-color: white;
    height: 40px;
    cursor: pointer;
    margin: 0px;
}

.tab-button:hover {
    opacity: 1;
}

.tab-button:focus {
    color: #fff;
    background-color: #41c0cb;
}

.tab-bar {
    background-color: #41c0cb;
    height: 10px;
    border: none;
    width: 99%;
    margin: 0;
    padding: 0;
}

.button-link {
    color: #fff;
    margin-right: 5px;
}

.button-link:hover {
    text-decoration: none;
}

.invoicebtn {
    margin-right: 25px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
  }

.modal {
    background-color: #fff;
    border-radius: 6px;
    position: absolute; 
    border: 1px solid #ccc;
    width: 50%; 
    height: 50%;
    text-align: center;
    display: none;
}

.short-modal {
    height: 35%;
}

.mid-modal {
    height: 40%;
}

.tall-modal {
    height: 60%;
}

.modal-header {
    text-align: center;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
}

.modal-close {
    font-size: 35px;
    float: right;
    margin-right: 25px;
}

.modal-close:hover, .modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-form {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.invoices {
    width: 60%;
}

.invoice-card {
    width: 99%;
    height: 70px;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.dashboard {
    height: 60%;
    overflow-y: auto;
}

.card {
    width: 60%;
    height: 70px;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);;
}

.stretched-link {
    height: 100%;
}

.fullforminput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.partialforminput {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.successbtn {
    background-color: #04AA6D;
}

.primarybtn {
    background-color: #3366cc;
}

.dangerbtn {
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    margin: 10px;
    padding: 16px;
    align-items: center;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}