body {
    font-family: Arial, Helvetica, sans-serif;
}

.pageform {
    border: 3px solid #f1f1f1;
}

label {
    padding: 3px;
}

button:hover {
    opacity: 0.8;
}


a {
    color: #3366cc;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

.form-button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
  }

.modal {
    background-color: #fff;
    border-radius: 6px;
    position: absolute; 
    border: 1px solid #ccc;
    width: 50%; 
    height: 50%;
    text-align: center;
    display: none;
}

.modal-header {
    text-align: center;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
}

.modal-close {
    font-size: 35px;
    float: right;
    margin-right: 25px;
}

.modal-close:hover, .modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-form {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.dashboard {
    height: 350px;
    overflow-y: auto;
}

.card {
    width: 80%;
    height: 70px;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);;
}

.stretched-link {
    height: 100%;
}

.fullforminput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.partialforminput {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.successbtn {
    background-color: #04AA6D;
}

.dangerbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    margin: 10px;
    padding: 16px;
    align-items: center;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}