{% extends "layout.html" %}

{% block title %}
    Timesheets for {{ client["name"] }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='client.js') }}"></script>
{% endblock %}

{% block main %}
    <div>
        Timesheets for {{ client["name"] }}
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNewTimesheetModal">
        Create New Timesheet
    </button>
    <form action="{{ url_for('addtimesheet', id=client['id']) }}" method="post">
        <div class="modal fade" id="createNewTimesheetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createNewTimesheetModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNewTimesheetModalLabel">Create new timesheet for {{ client["name"] }}</h5>
                </div>
                <div class="modal-body">
                    You are about to create a new timesheet for {{ client["name"] }}. 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="confirm-create" data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#importExcelModal">
        Import Timesheet
    </button>
    <form id="importform" action="{{ url_for('import_excel', id=client['id']) }}" method="post" enctype=multipart/form-data>
        <div class="modal fade" id="importExcelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importExcelModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importExcelModalLabel">Import new timesheet for {{ client["name"] }}</h5>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="file" id="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <input type="date" id="date" name="date" placeholder="DD-MM-YYYY">
                    <select id="status" name="status" form="importform" class="form-select" aria-label="Default select example">
                        <option value="1">In Progress</option>
                        <option value="2">Payment Pending</option>
                        <option value="3">Payment Received</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="confirm-import" data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addLawyerModal">
        Add Lawyer
    </button>
    <form id="addlawyerform" action="{{ url_for('addlawyer', id=client['id']) }}" method="post">
        <div class="modal fade" id="addLawyerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addLawyerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLawyerModalLabel">Add new lawyer for {{ client["name"] }}</h5>
                </div>
                <div class="modal-body">
                    <select id="id" name="id" form="addlawyerform" class="form-select" aria-label="Default select example">
                        {% for lawyer in lawyers %}
                            <option value="{{ lawyer['id'] }}">{{ lawyer["name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="add-lawyer" data-bs-dismiss="modal">Add</button>
                </div>
            </div>
            </div>
        </div>
    </form>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button type="button" id="in-progress" class="btn btn-primary">In Progress</button>
        </li>
        <li class="nav-item">
            <button type="button" id="payment-pending" class="btn btn-warning">Payment Pending</button>
        </li>
        <li class="nav-item">
            <button type="button" id="payment-received" class="btn btn-success">Payment Received</button>
        </li>
      </ul>
    <div id="in-progress-view">
        {% for timesheet in in_progress_timesheets %}
            <div class="card" style="height:70px">
                <div class="card-body">
                    <a href="{{ url_for('timesheet', id=timesheet['id']) }}" class="stretched-link">{{ timesheet["created"] }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="payment-pending-view">
        {% for timesheet in payment_pending_timesheets %}
            <div class="card" style="height:70px">
                <div class="card-body">
                    <a href="{{ url_for('timesheet', id=timesheet['id']) }}" class="stretched-link">{{ timesheet["created"] }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="payment-received-view">
        {% for timesheet in payment_received_timesheets %}
            <div class="card" style="height:70px">
                <div class="card-body">
                    <a href="{{ url_for('timesheet', id=timesheet['id']) }}" class="stretched-link">{{ timesheet["created"] }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}