{% extends "layout.html" %}

{% block title %}
    {{ client["name"] }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='client.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container page-header"> 
        <b> {{ client["name"] }} </b>
        <span style="float: right;">
            <button type="button" class="option-button primarybtn" id="addNewLawyerModalOpen" style="float: right;">
                Add Lawyer
            </button>
        </span>
    </div>

    <p class="tagline"> An overall view of invoices for {{ client["name"] }}. </p>

    <h2 class="container">
        Invoices
        <span>
            <button type="button" class="option-button successbtn" id="addNewTimesheetModalOpen" style="margin-left: 20px;">
                Create New Invoice
            </button>
            <button type="button" class="option-button successbtn" data-bs-toggle="modal" id="importExcelModalOpen">
                Import Invoice
            </button>
            <button type="button" class="option-button successbtn" id="billFixedFeeModalOpen">
                Bill Fixed Fee
            </button>
        </span>
    </h2>
    
    <button type="button" id="in-progress" class="option-button tab-button">In Progress</button>
    <button type="button" id="payment-pending" class="option-button tab-button">Payment Pending</button>
    <button type="button" id="payment-received" class="option-button tab-button">Payment Received</button>

    <hr class="tab-bar" id="tab-bar">
    <div id="in-progress-view" class="dashboard">
        {% if in_progress_timesheets %}
            {% for timesheet in in_progress_timesheets %}
                <a href="{{ url_for('timesheet', id=timesheet['id']) }}" class="stretched-link">
                    <div class="invoice-card">
                        <b>Invoice in progress created on {{ timesheet["created"] }}</b>
                    </div>
                </a>
            {% endfor %}        
        {% else %}
            <p>There are currently no timesheets in progress for this client!</p>
        {% endif %}
    </div>

    
    <div id="payment-pending-view" class="dashboard">
        {% if payment_pending_timesheets %}
            {% for timesheet in payment_pending_timesheets %}
                <a href="{{ url_for('timesheet', id=timesheet['id']) }}" class="stretched-link">
                    <div class="card">
                        <b>Invoice awaiting payment created on {{ timesheet["created"] }}</b>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>There are currently no invoices awaiting payment from this client!</p>
        {% endif %}
    </div>

    
    <div id="payment-received-view" class="dashboard"s>
        {% if payment_received_timesheets %}
            {% for timesheet in payment_received_timesheets %}
                <a href="{{ url_for('timesheet', id=timesheet['id']) }}" class="stretched-link">
                    <div class="card">
                        <b>Invoice marked as paid created on {{ timesheet["created"] }}</b>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>There are currently no invoices marked as paid by this client!</p>
        {% endif %}
    </div>

    <div class="modal-backdrop" id="addNewTimesheetModalBackdrop">
        <div class="modal short-modal" id="addNewTimesheetModal">
            <form id="addtimesheetform" action="{{ url_for('addtimesheet', id=client['id']) }}" method="post" class="modal-form">
                <div class="modal-header">
                    <p class="modal-title">Create new invoice <span class="modal-close addNewTimesheetModalClose">&times;</span></p>
                </div>
                <div class="modal-content">
                    You are about to create a new invoice for {{ client["name"] }}. 
                    <button type="submit" class="form-button successbtn addNewTimesheetModalClose" id="confirm-create">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-backdrop" id="billFixedFeeModalBackdrop">
        <div class="modal tall-modal" id="billFixedFeeModal">
            <form action="{{ url_for('billfixedfee', id=client['id']) }}" method="post" id="billfixedfeeform" class="modal-form">
                <div class="modal-header">
                    <p class="modal-title">Bill for a fixed fee <span class="modal-close billFixedFeeModalClose">&times;</span></p>
                </div>
                <div class="modal-content">
                    <select id="fee" name="fee" form="billfixedfeeform" class="form-select partialforminput">
                        <option value="" disabled selected>Select service</option>
                        {% for fixed_fee in fixed_fees %}
                            <option value="{{ fixed_fee['id'] }}">{{ fixed_fee["description"] }} (${{ fixed_fee["amount"] }})</option>
                        {% endfor %}
                    </select> 
                    <input autocomplete="off" class="partialforminput" id="upfront" name="upfront" placeholder="Upfront Payment" type="number" min="0" step="1" max="100" required>  
                    <input autocomplete="off" class="partialforminput" id="remainder" name="remainder" placeholder="Remaining" type="number" min="0" step="1" max="100" required>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yes" name="addtotimesheet" id="addtotimesheet">
                        <label class="form-check-label" for="addtotimesheet">
                          Add remaining payment to existing invoice
                        </label>
                    </div>
                    <div id="select-timesheet">
                        <select id="timesheet" name="timesheet" form="billfixedfeeform" class="form-select partialforminput" aria-label="Default select example">
                            <option value="" disabled selected>Select invoice</option>
                            {% for timesheet in in_progress_timesheets %}
                                <option value="{{ timesheet['id'] }}">{{ timesheet["created"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="form-button successbtn billFixedFeeModalClose" id="bill-fixed">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-backdrop" id="importExcelModalBackdrop">
        <div class="modal" id="importExcelModal">
            <form id="importform" action="{{ url_for('import_excel', id=client['id']) }}" method="post" enctype=multipart/form-data class="modal-form">
                <div class="modal-header">
                    <p class="modal-title">Import new Excel invoice <span class="modal-close importExcelModalClose">&times;</span></p>
                </div>
                <div class="modal-content">
                    <input class="partialforminput" type="file" id="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <input type="date" id="date" name="date" placeholder="DD-MM-YYYY" class="partialforminput">
                        <select id="status" name="status" form="importform" class="form-select partialforminput">
                            <option value="" disabled selected>Select status</option>
                            <option value="1">In Progress</option>
                            <option value="2">Payment Pending</option>
                            <option value="3">Payment Received</option>
                        </select>
                        <button type="submit" class="form-button successbtn importExcelModalClose" id="confirm-import">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-backdrop" id="addNewLawyerModalBackdrop">
        <div class="modal mid-modal" id="addNewLawyerModal">
            <form id="addlawyerform" action="{{ url_for('addlawyer', id=client['id']) }}" method="post" class="modal-form">
                <div clasas="modal-header">
                    <p class="modal-title">Add new lawyer for {{ client["name"] }}<span class="modal-close addNewLawyerModalClose">&times;</span></p>
                </div>
                <div class="modal-content">
                    <select id="id" name="id" form="addlawyerform" class="form-select partialforminput">
                        <option value="" disabled selected>Select lawyer</option>
                        {% for lawyer in lawyers %}
                            <option value="{{ lawyer['id'] }}">{{ lawyer["name"] }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="form-button successbtn addNewLawyerModalClose" id="add-lawyer">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}