<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>BillAble | {% block title %}{% endblock %}</title>
        {% block script %}
        {% endblock %}
    </head>

    <body>
        <nav>
            <div>
                <a href="{{ url_for('home') }}" class="nav-logo nav-item">BillAble</a>
                {% if session["user_id"] %}
                    <a href="/logout" class="nav-item nav-link">Logout</a>
                {% endif %}
            </div>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>

</html>
