{% extends "layout.html" %}

{% block title %}
    Case Ref {{ timesheet["case_ref_no"] }}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='timesheet.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="container page-header" style="font-size: 40px;">
        {% if timesheet["status"] == 1 %}
            <b> Case for {{ client["name"] }} opened {{ timesheet["created"] }} </b>
        {% elif timesheet["status"] == 2 %}
            <b> Invoice for {{ client["name"] }} generated {{ timesheet["invoice_generated"] }} </b>
        {% else %}
            <b> Record of payment by {{ client["name"] }} made {{ timesheet["invoice_paid"] }} </b>
        {% endif %}
        <span style="float: right;">
            <button type="button" class="option-button primarybtn" id="newFixedFeeModalOpen">
                <a href="{{ url_for('client', id=client['id']) }}" class="button-link">
                    Return to Client Page
                </a>
            </button>
        </span>
    </div>

    <p class="tagline">
        An overall view of fixed fee services, hourly charged services and disbursements
        under this case for {{ client["name"] }}. (Case Ref: {{ timesheet["case_ref_no"] }})
    </p>

    {% if timesheet["status"] == 1 %}
        <div id="start-task-view" style="padding: 10px;">
            <div id="invoice-panel">
                <div class="start">
                    <button type="button" class="option-button successbtn" id="confirm-start">
                        Start Task
                    </button>
                </div>
                <div class="middle">
                    Total: SGD {{ invoice_total }}
                    <span>
                        <button type="button" class="option-button successbtn" id="generateInvoiceModalOpen">
                            Generate Invoice
                        </button>
                    </span>
                </div>
                <div class="end">
                    <button type="button" class="option-button successbtn" id="addDisbursementModalOpen">
                        Add Disbursement
                    </button>
                </div>
            </div>

            <div class="modal-backdrop" id="addDisbursementModalBackdrop">
                <div class="modal" id="addDisbursementModal">
                    <form action="{{ url_for('disbursement', id=timesheet['id']) }}", method="post" class="modal-form">
                        <div class="modal-header">
                            <p class="modal-title">Add disbursement <span class="modal-close addDisbursementModalClose">&times;</span></p>
                        </div>
                        <div class="modal-content">
                            <input autocomplete="off" autofocus class="fullforminput" id="disbursement" name="disbursement" placeholder="Disbursement" type="text" required>
                            <input autocomplete="off" class="fullforminput" id="amount" name="amount" placeholder="Amount" type="number" step="0.01" min="0" required>
                            <button type="submit" class="form-button successbtn addDisbursementModalClose" id="confirm-add">Add</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-backdrop" id="generateInvoiceModalBackdrop">
                <div class="modal mid-modal" id="generateInvoiceModal">
                    <form action="{{ url_for('export', id=timesheet['id']) }}" method="post" class="modal-form">
                        <div class="modal-header">
                            <p class="modal-title">Generate invoice <span class="modal-close generateInvoiceModalClose">&times;</span></p>
                        </div>
                        <div class="modal-content">
                            <input autocomplete="off" autofocus class="fullforminput" id="filename" name="filename" placeholder="Filename" type="text" required>
                            <button type="submit" class="form-button successbtn generateInvoiceModalClose" id="generate-invoice">Generate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="end-task-view">
            <div class="end-task-button">
                <button type="button" class="option-button dangerbtn submitTaskModalOpen" id="confirm-end">
                    End Task
                </button>
            </div>
            <div class="modal-backdrop" id="submitTaskModalBackdrop">
                <div class="modal" id="submitTaskModal">
                    <div class="modal-form">
                        <div class="modal-header">
                            <p class="modal-title">Submit Task</p>
                        </div>
                        <div class="modal-content">
                            <input autocomplete="off" autofocus class="fullforminput" id="task-description" name="description" placeholder="Task Description" type="text" required>
                            <input autocomplete="off" class="partialforminput" id="hourly-rate" name="rate" placeholder="Hourly Rate" type="number" min="0" step="0.01" required>
                            <button type="button" class="form-button successbtn submitTaskModalClose" id="task-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}

    {% if timesheet["status"] == 2 %}
        <div class="mark-paid-button">
            <button type="button" class="option-button successbtn" id="markAsPaidModalOpen">
                Mark as Paid
            </button>
        </div>
        <div class="modal-backdrop" id="markAsPaidModalBackdrop">
            <div class="modal short-modal" id="markAsPaidModal">
                <form action="{{ url_for('approve', id=timesheet['id']) }}", method="post" class="modal-form">
                    <div class="modal-header">
                        <p class="modal-title">Mark as paid <span class="modal-close markAsPaidModalClose">&times;</span></p>
                    </div>
                    <div class="modal-content">
                        You are about to mark this invoice for {{ client["name"] }} as paid. Continue?
                        <button type="submit" class="form-button successbtn markAsPaidModalClose" id="confirm-add">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <hr class="tab-bar">

    <div class="modal-backdrop" id="editTaskModalBackdrop">
        <div class="modal tall-modal" id="editTaskModal">
            <form action="{{ url_for('edittask', id=timesheet['id']) }}", method="post" class="modal-form" id="edittaskform">
                <div class="modal-header">
                    <p class="modal-title">Edit task<span class="modal-close editTaskModalClose">&times;</span></p>
                </div>
                <div class="modal-content">
                    <select id="task" name="task" form="edittaskform" class="form-select fullforminput">
                        <option value="" disabled selected>Select task</option>
                        {% for task in tasks %}
                            <option value="{{ task['id'] }}">{{ task['description'] }} on {{ task['datetime'] }}</option>
                        {% endfor%}
                    </select>
                    <input autocomplete="off" class="fullforminput" id="task-description" name="description" placeholder="Task Description" type="text" required>
                    <input autocomplete="off" class="partialforminput" id="hours" name="hours" placeholder="New Hours" type="number" min="0" step="0.1" required>
                    <input autocomplete="off" class="partialforminput" id="hourly-rate" name="rate" placeholder="Hourly Rate" type="number" min="0" step="0.01" required>
                    <button type="submit" class="form-button successbtn editTaskModalClose" id="confirm-edit">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <div class="tables-container">
        <div class="tasks">
            <p class="table-title">
                <b>Tasks</b>
                {% if timesheet["status"] == 1 and tasks %}
                    <span>
                        <a href="#" id="editTaskModalOpen" style="font-size: 15px;">
                            Edit Task
                        </a>
                    </span>
                {% endif %}
            </p>
            <p class="fee">Total: SGD 
                {% if tasks_total %}
                    {{ tasks_total }}
                {% else %}
                    0.00
                {% endif %}
            </p>
            {% if tasks %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Lawyer</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task["datetime"] }}</td>
                                <td>{{ task["lawyer"] }}</td>
                                <td>{{ task["duration"] }}</td>
                                <td>{{ task["description"] }}</td>
                                <td>SGD {{ task["amount"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                There are currently no tasks in this timesheet.
            {% endif %}
        </div>
    
        <div class="disbursements">
            <p class="table-title">
                <b>Disbursements</b>
            </p>
            <p class="fee">Total: SGD 
                {% if d_total %}
                    {{ d_total }}
                {% else %}
                    0.00
                {% endif %}
            </p>
            {% if disbursements %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disbursement in disbursements %}
                            <tr>
                                <td>{{ disbursement["description"] }}</td>
                                <td>SGD {{ disbursement["amount"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                There are currently no disbursements for this invoice.
            {% endif %}
        </div>
    
        <div class="fixed_fees">
            <p class="table-title">
                <b>Fixed Fees</b>
            </p>
            <p class="fee">Total: SGD 
                {% if fixed_total %}
                    {{ fixed_total }}
                {% else %}
                    0.00
                {% endif %}
            </p>
            {% if fixed_fees %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee in fixed_fees %}
                            <tr>
                                <td>{{ fee["description"] }}</td>
                                <td>SGD {{ fee["amount"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                There are currently no fixed fees for this invoice.
            {% endif %}
        </div>
    </div>
{% endblock %}